body{
    background-color: rgb(239, 239, 239) !important;
}

.head-box{
    position: absolute;
    z-index: 999;
    top:0px;
    width: 100%;
    filter:alpha(Opacity=80);     /*针对win IE设置半透明滤镜效果*/
    -moz-opacity:0.8;            /*针对mozilla firefox火狐浏览设置半透明滤镜效果*/
    opacity: 0.8;                /*针对谷歌设置半透明滤镜效果*/
    background-color: #000000;
}
.head-items-1{
    margin:60px 0px 10px 0px;
}
.head_crumb_1{
    width:14.28%;
    color:whitesmoke;
    font-size:medium;
    text-align:center;
}
.head_crumb_1 a{
    color:whitesmoke;
}
.head-items-2{
    margin:20px 10px 0 0;
}
.head_crumb_2{
    color:whitesmoke;
    font-size:smaller;
    text-align:left;
    padding: 0 0;
    margin-left:-20px;
}
.head_crumb_2 a{
    color:whitesmoke;
}
.buy-box{
    margin-top: -15px ;
}
.head-label{
    width: 50px;
    background-color: white;
    height: 30px;
    background-image: url("../image/search.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position-x: 14px;
    background-position-y: -2px;
}
.head-input{
    margin-left: 30px;
    color: #000000;
    height: 30px;
    width: 130px;
    border: hidden;
}
.video_des{
    width: 100%;
    z-index: 1;
    height: 800px;
    overflow: hidden;
}
.video_dec_box{
    color: white;
    position: absolute;
    z-index: 9999;
    top: 250px;
    left: 300px;
}
.video_dec_box button{
    margin-top: 30px;
    background-color: rgb(178, 173, 173);
    border: hidden;
    width: 150px;
    height: 30px;
}
.no-padding{
    padding: 0 0 0 0;
}
.no-margin{
    margin: 0 0;
}
.content-box{
    margin: 0px 0px;
    color: #58545A;
    background-image: url("../image/grid.png");
    background-size: 100%;
    background-color: rgb(239, 239, 239) !important;
}
.content-item{
    padding: 20px 150px 0 150px ;
}
.seeAll-item{
    position: absolute;
    top:-50px;
    right: 15px;
}
.seeAll-item a{
    border-bottom: 2px green solid;
    color: #808080;
}

.artists_slides_container {
    border: #ffffff 4px solid;
    height:200px;
}
.artists_slides_container div {
    height:200px;
    display:block;
}
.prev{
    position: absolute;
    left: -100px;
    top: 75px;
}
.next{
    position: absolute;
    right: -100px;
    top: 75px;
}

.recent_art_slides_container{
    height:200px;
}
.recent_art_slides_container div{
    height:200px;
    display:block;
}
.ra_item, .ln_item, .blog_item{
    position: absolute;
}
.ra_item_1, .bc_item{
    overflow: hidden;
    border: #ffffff 4px solid;
}
.ad-box{
    margin-top: 50px;
    margin-bottom: 50px;
}
.ad{
    background-image: url('../image/ad_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height:115px;
    opacity: 0.8;
}
.logo_black{
    padding-top: 10px;
    opacity: 1 !important;
}
.ad-font{
    padding-top: 45px;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    opacity: 1 !important;
}
.latest_news_slides_container{
    height: 300px;
}
.latest_news_slides_container div{
    height: 300px;
    display: block;
}
.ln_item_1, .ln_item_2{
    border: #ffffff 4px solid;
    height: 145px !important;
    overflow: hidden;
    margin-right: 0px;
}
.ln_item_1{
    margin-bottom: 10px;
}
.ln_item_2{
    margin-top: 10px;
}
.ln_item_3{
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    right: 0px;
    opacity: 0.7;
    width: 240px;
}
.ln_item_4{
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.7;
    width: 240px;
}
.ln_item_5{
    padding: 50px 65px 0px 65px;
    height:100px;
}
.ln_item_5 p{
    margin-top: 30px;
    margin-left: -65px;
}
.ln_img_box1{
    border: #ffffff 4px solid;
    overflow: hidden;
}
.ln_font_box1{
    background-image: url('../image/ln_bg1.png');
    background-size: 100%;
    opacity: 0.7;
}
.ln_font1{
    margin-top: 30px;
}
.blog_slides_container{
    height: 500px;
}
.blog_slides_container div{
    height: 500px;
    display: block;
}
.margin-top-20{
    margin-top: 20px;
}
.blog_item_1{
    height:250px !important;
    overflow: hidden;
    border: #ffffff 4px solid;
}
.blog_item_2{
    background-color: #ffffff;
    opacity: 0.7;
    padding: 20px 20px 20px 20px;
}
.blog_font1{
    padding-top: 30px;
}
.become_creator_slides_container{
    height: 200px;
}
.become_creator_slides_container div{
    height: 200px;
    display: block;
}
.item_left{
    margin-right: -10px;
}
.item_mid{
    margin-left: -5px;
    margin-right: -5px;
}
.item_right{
    margin-left: -10px;
}
.bc_item_1{
    background-color: #ffffff;
    position: absolute;
    top: 140px;
    left:0px;
    right: 0px;
    opacity: 0.7;
}
.bc_item_1_left{
    padding: 2px 10px 0px 30px;
    margin-right: 5px;
}
.bc_item_1_mid{
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 10px 0px 20px;
}
.bc_item_1_right{
    margin-left: 5px;
    padding: 2px 25px 0px 20px;
}
.bc_item_1 p{
    margin: 0 0;
    font-size: 12px;
}
.cta{
    margin-top: 120px;
    left: 0px;
    right: 0px;
    opacity: 0.6;
    height: 650px;
    overflow: hidden;
}
.cta_item{
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    top:0px;
    padding-top: 30px;
}
.cta_font p{
    color: #000000;
    font-size: 45px;
    margin: 0 0;
}
.cta_font button{
    margin-top: 30px;
    background-color: green;
    padding: 10px 20px;
    color: whitesmoke;
    border: hidden;
}
.foot-box{
    height: 300px;
    background-color: #000000;
    opacity: 0.8;
    padding: 20px 150px 0 150px ;
    margin-top: -2px;
}
.foot-box-1, .foot-box-1 a{
    color: white;
}
.foot-box-1{
    padding-top: 40px;
}
.foot-box-1 p{
    margin-top: 50px;
    font-size:10px;
    opacity: 0.7;
}
.foot-box-1 h5{
    margin: 5px 0;
}
.foot-box-2{
    color: #ffffff;
    padding-top: 30px;
}
.foot-box-3{
    color: white;
    padding-top: 35px;
}
.foot-input{
    background-color: #ffffff;
    opacity: 1;
    margin-top: 20px;
    height: 40px;
    width: 230px;
    font-size: 17px;
    color: #000000;
    border: hidden;
}
.foot-label{
    background-color: green;
    opacity: 0.9;
    height: 40px;
    margin-top: 20px;
    padding: 10px 0px 5px 5px;
    width: 90px;
}
